@font-face {
	font-family: "Iranyekan";
	font-weight: 400;
	src: url("../fonts/iranyekan/Qs_Iranyekan.ttf") format("truetype"),
}

@font-face {
	font-family: "Iranyekan";
	font-weight: 100;
	src: url("../fonts/iranyekan/Qs_Iranyekan_light.ttf") format("truetype"),
}

@font-face {
	font-family: "Iranyekan";
	font-weight: 500;
	src: url("../fonts/iranyekan/Qs_Iranyekan_medium.ttf") format("truetype"),
}

@font-face {
	font-family: "Iranyekan";
	font-weight: 700;
	src: url("../fonts/iranyekan/Qs_Iranyekan_bold.ttf") format("truetype"),
}

@font-face {
	font-family: "Iranyekan";
	font-weight: 800;
	src: url("../fonts/iranyekan/Qs_Iranyekan_extrabold.ttf") format("truetype"),
}